@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    position: relative;
}

h1, span, p {
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

hr {
    background: #fff;
    width: 100%;
    margin: 20px 0;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #00040e;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    width: 100%;
    background: #333333;
}

.hero {
    width: 100%;
    height: 800px;
    background: #00040e;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.info {
    width: 100%;
    height: 200px;
    background: #333333;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

.plans {
    width: 100%;
    min-height: 500px;
    background: #00040e;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.panel {
    width: 100%;
    min-height: 500px;
    background: #00040e;
}

.feedback {
    width: 100%;
    min-height: 500px;
    background: #00040e;
}

.merchan {
    width: 100%;
    min-height: 500px;
    background: #00040e;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #333333;
    color: white;
    font-size: 14px;
}

.icon {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 320ms ease-in-out;
}

.icon:hover {
    opacity: .5;
}

.icon img {
    width: 50px;
}

/* Responsivo */
@media only screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        height: 900px;
    }

    .info {
        flex-direction: column;
        height: 420px;
        width: 100%;
    }

    .header {
        padding-bottom: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .merchan {
        padding: 0;
        min-height: 0px;
        margin: 30px 0px;
    }
}

@media only screen and (max-width: 375px) {
    .footer {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .footer {
        font-size: 10px;
    }
}